.background {
	padding-bottom: 7vh; /* make room for dock */
	position: fixed;
	left: 0;
	top: 0;
	height: 100vh;
	width: 100vw;
	box-sizing: border-box;
	overflow: hidden;
	user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.background > picture {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	filter: brightness(0.85) contrast(1.2);
}

.background > picture > img {
	object-fit: cover;
	width: 100%;
	height: 100%;
	user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.icons {
	display: grid;
    grid-template-columns: repeat(auto-fit, 80px);
    grid-gap: 15px;
	justify-content: space-evenly;
}

@media (max-width:800px) {
	.background {
		padding-bottom: 13vh;
	}

	.icons {
		display: grid;
	    grid-template-columns: repeat(4, 1fr);
	    grid-gap: 15px;
	}
}



.icons > div {
	padding: 15px;
    box-sizing: border-box;
}
