.dock {
	position: absolute;
	bottom: 0;
	left: 50%;
    transform: translateX(-50%);
    max-width: min(100vw, 78vh);
	/* expand up to full width, but normally show 6 icons on a mobile device (13vh * 6 = 78vh) */
    width: fit-content;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap; /* only show enough icons to fill available space */
	height: 13vh;
	background-color: var(--dock-mobile-background-color);
	border-radius: 10px 10px 0 0;
}

.dock > * {
	height: 13vh;
	width: 13vh;
	padding: 5px;
	box-sizing: border-box;
}

.ghost {
	opacity: 0.3;
	transform: scale(1.5);
}

@media (min-width: 800px) {
	.dock {
		border-top: 1px solid var(--dock-border-color);
		border-left: 1px solid var(--dock-border-color);
		border-right: 1px solid var(--dock-border-color);
		background-color: var(--dock-desktop-background-color);
		max-width: 75vw;
		height: 7vh;
	}

	.dock > * {
		height: 7vh;
		width: 7vh;
	}

	.dock > *:hover {
		transform: scale(1.5);
	}
}
